html{
    scroll-behavior: smooth;
    scroll-padding-top: 1.25rem;
}
body{
    margin:0;
    padding:0;
}
.topo{
    background-color: #604829;
    margin:0;
    height:80px;
    position:relative;
}
.banner, .parallax-1, .parallax-2, .parallax-3, .parallax-4{
    background:no-repeat fixed;
    background-size:cover;
    width:100%;
    position:relative;
}
.parallax-1, .parallax-2, .parallax-3, .parallax-4{
    height:400px;
}
.img-topo{
    position:absolute;
    left:150px;
    width:90px;
}
.topo ul{
    margin:0;
    display: inline;
    position:absolute;
    right:20%;
    top:40%;
}
.topo li{
    margin:0 10px;
    display:inline;
}
.topo a{
    font-size:17px;
    font-weight:bold;
    text-decoration: none;
    box-shadow: 5px 5px 10px #c4a47c;
    color:#c4a47c;
}
.banner{
    background-image:url('img/parallax-imagem1.png');
    height: 900px;
}
.banner h1{
    font-size:60px;
    margin:0 auto;
    text-align: center;
    color:#fff;
    padding-top:35px;
    position:absolute;
    top:50%;
    right:30%;

}
.limita-largura{
    background-color: #fff;
    width:50%;
    margin:40px auto;
}
.limita-largura p{
    color:#666;
    line-height:25px;
    font-size:15px;
    font-family:cursive;
    text-align:center;
}
.limita-largura h2{
    text-align: center;
    color:#c4a47c;
}
.parallax-1{
    background-image:url(img/parallax-imagem2.jpg);
}
.parallax-2{
    background-image:url(img/parallax-imagem3.jpg)
}
.parallax-3{
    background-image: url(img/parallax-imagem4.png);
    height:900px;
}
.parallax-4{
    background-image:url(img/cafeteria.jpg);
    height:900px;
}
.comment-parallax{
    background-color:#604829;
    color:#fff;
    font-size:24px;
    padding:15px;
    border-radius:10px;
}
.span-endereço{
    position: relative;
    top:100px;
    margin:0 auto;
}
.span-endereço-2{
    padding:15px;
    width:60%;
    margin:0 auto;
    position: relative;
    bottom:0;
}
.parallax-3 .limita-largura{
    margin-top: 170px;
}
.iframe-absolute{
    width:925px;
}
.div-endereço{
    text-align: center;
    width:60%;
    margin:0 auto;
    position:relative;
}
.span-largura{
    width:25%;
    margin:0 auto;
    position:relative;
    top:40%;
    left:3%;
}
#Horários{
    color:white;
    position:relative;
}
#Horários table{
    margin:0 auto;
    font-size:25px;
    font-family:cursive;
}
#Horários caption{
    margin-top: 180px;
}
.separação{
    padding-bottom: 15px;
}
.seta-para-cima{
    position:absolute;
    bottom:0;
    right:15px;
    width:50px;
}
.rodape{
    background-color: black;
    color:white;
    margin:0 auto;
    text-align:center;
    height:100px;
}
.rodape h3{
    padding-top:30px;
    margin:0;
    font-size:17px;
}
.rodape p{
    margin:5px;
}
.desenvolvedor{
    color:#c4a47c
}


